@{
    ViewData["Title"] = "Informacion de escuela";
    Layout = "LayoutGeneral";
}


<h1>Escuela: @Model.Nombre</h1>
<h2>Nombre:</h2>
<p><strong>Año fundacion: </strong></p>

<p>@ViewBag.bolsita</p>